.body {
  background-color: $bodyBgColor;
}

.keyboard {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;

  .keyboard__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .key-btn {
      user-select: none;
    }
  }
}